<img src="https://bk-ca-prd.s3.amazonaws.com/sites/burgerking.ca/files/02750-2%20BK_Web_DblQtrPndKing_500x540px_CR_0.png"
  alt="a burger">
<h1>Eat-Da-Burger!</h1>

<div id="left">
  

</div>

<div id="right">


</div>


<form>
  <input type="text" id="input">
  <br><br>
  <input type="submit" value="Submit" id="sub">
  <p>Enter a burger you want to eat Click the "Submit" button.</p>
</form>